# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'django-insecure-$ab)%+367yf%!*ml4&v@+id@+p=p_37-=#yo&5@hd$*k-uc2e@'

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ''
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ''
