{% extends 'base.html' %}
{% load static %}

{% block header-refrences %}
    <link href="{% static 'css/style-mainPage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    {% block phone-content %}{% endblock %}
    {% include 'footer.html' %}
{% endblock %}

{% block footer-refrences %}
    <script>
        $(".add-phone").click(function (e) {
            e.preventDefault()
            const id = $(this).attr("data-pk")
            const link = "api/" + id
            const url = $(this).attr("href")
            $.ajax({
                url: url,
                success: function (success) {
                    $.ajax({
                        url: link,
                        success: function (s) {
                            $("#count-id").html(s.phones)
                            if(s.phones <= 2) {
                                $("#success").modal("show")
                            } else {
                                $("#success1").modal("show")
                            }
                        }
                    })
                }
            })
        })
    </script>
    <script src="{% static 'js/script-phone.js' %}"></script>
{% endblock %}
