{% extends 'base.html' %}
{% load static %}

{% block title %}{% block blog-title %}{% endblock %}{% endblock %}

{% block header-refrences %}
    <link href="{% static 'css/style-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    {% block blog-content %}{% endblock %}
    {% include 'footer.html' %}
{% endblock %}

{% block footer-refrences %}
    <script>

        $(".like").click(function (e) {
            e.preventDefault()
            let toast1 = $("#liveToast1")
            let toast2 = $("#liveToast2")
            const url = $(this).attr("href")
            const id = $(this).attr("data-pk")
            const link = "api/" + id
            let like_btn = $("#like_" + id)
            like_btn.toggleClass('bi-heart bi-heart-fill')
            let t;
            if(like_btn.hasClass('bi-heart'))
                t = new bootstrap.Toast(toast2)
            else
                t = new bootstrap.Toast(toast1)
            t.show()
            $.ajax({
                url: url,
                success: function (success) {
                    console.log("success")
                }
            })
        })
    </script>
    <script src="{% static 'js/script-blog.js' %}"></script>
{% endblock %}
