{% extends 'blog/blog-base.html' %}
{% load static %}

{% block blog-title %}Smart Tech Blog{% endblock %}

{% block blog-content %}
    <main id="main" class="pt-3">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="{% url 'main-page-index' %}">Home</a></li>
                    <li>Blog</li>
                </ol>
                <h2>Blog</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->

        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">
                        {% if all_search.count == 0 %}
                            <h3 class="alert alert-danger text-center">There is no result for: {{ search }}</h3>
                        {% else %}
                            <h3 class="alert alert-primary text-center">found {{ all_search.count }} result for :  {{ search }}</h3>
                        {% endif %}

                        {% for post in all_search %}
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="{{ post.img_primary }}" alt="" class="img-fluid w-100">
                                </div>

                                <h2 class="entry-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="#">{{ post.author }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="#">
                                            <time datetime="2020-01-01">{{ post.created }}</time>
                                        </a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                href="#">{{ post.comment_user.count }} Comments</a></li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <div class="mb-3">
                                        {{ post.postdescription_set.first.description|truncatewords:60 }}
                                    </div>

                                    <div class="read-more">
                                        <a href="/blog/post/{{ post.slug }}/{{ post.post_id }}">Read More</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        {% endfor %}

                        {% if all_search.count %}
                            <div class="blog-pagination">
                                <ul class="justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li><a href="{% url 'search' page_obj.previous_page_number %}?q={{ search }}">previous</a>
                                        </li>
                                    {% endif %}
                                    <li class="active"><a href="#">{{ page_obj.number }}</a></li>
                                    {% if page_obj.has_next %}
                                        <li>
                                            <a href="{% url 'search' page_obj.next_page_number %}?q={{ search }}">next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">

                        <div class="sidebar">

                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    <li><h6><a href="{% url 'blog' %}">All <span>(20)</span></a></h6></li>
                                    <li><h6><a href="{% url 'blog' 'News' %}">News <span>(8)</span></a></h6></li>
                                    <li><h6><a href="{% url 'blog' 'Events' %}">Events <span>(3)</span></a></h6></li>
                                    <li><h6><a href="{% url 'blog' 'Comparison'%}">Comparison <span>(2)</span></a></h6></li>
                                    <li><h6><a href="{% url 'blog' 'Unveiling' %}">Unveiling <span>(3)</span></a></h6></li>
                                    <li><h6><a href="{% url 'blog' 'Analysis' %}">Analysis <span>(4)</span></a></h6></li>
                                </ul>
                            </div><!-- End sidebar categories-->

                            {% if all_search.count %}
                                <h3 class="sidebar-title">Recent Posts</h3>
                            {% endif %}
                            <div class="sidebar-item recent-posts">
                                {% for post in all_search %}
                                    <div class="post-item clearfix">
                                        <img src="{{ post.img_primary }}" height="50px" alt="">
                                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title|truncatewords:4 }}</a>
                                        </h4>
                                        <time datetime="2020-01-01">{{ post.created }}</time>
                                    </div>
                                {% endfor %}

                            </div><!-- End sidebar recent posts-->

                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Section -->

    </main><!-- End #main -->
{% endblock %}
