{% extends 'blog/blog-base.html' %}
{% load static %}

{% block blog-title %}Smart Tech Blog{% endblock %}

{% block blog-content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="{% url 'main-page-index' %}">Home</a></li>
                    <li>Blog</li>
                </ol>
                <h2>Blog</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">

                        {% for post in posts %}
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="{{ post.img_primary }}" alt="" class="img-fluid w-100">
                                </div>

                                <h2 class="entry-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="#">{{ post.author }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="#">
                                            <time datetime="2020-01-01">{{ post.created }}</time>
                                        </a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                href="#">{{ post.commentcount }} Comments</a></li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <div class="mb-3">
                                        {{ post.postdescription_set.first.description|truncatewords:60 }}
                                    </div>

                                    <div class="read-more">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'api_add_favorite' post.post_id %}" class="like"
                                               data-pk="{{ post.post_id }}">
                                                <i class="bi {% if post in user.user.all %}bi-heart-fill{% else %}bi-heart{% endif %}"
                                                   id="like_{{ post.post_id }}"></i>
                                            </a>
                                        {% endif %}
                                        <a href="/blog/post/{{ post.slug }}/{{ post.post_id }}">Read More</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        {% endfor %}

                        {% include 'blog/pagination.html' %}

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">

                        <div class="sidebar">

                            <h3 class="sidebar-title">Search</h3>
                            <div class="sidebar-item search-form">
                                <form action="{% url 'search' %}">
                                    <input type="text" name="q" class="form-control">
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div><!-- End sidebar search formn-->

                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    <li><a href="#">General <span>(25)</span></a></li>
                                    <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                    <li><a href="#">Travel <span>(5)</span></a></li>
                                    <li><a href="#">Design <span>(22)</span></a></li>
                                    <li><a href="#">Creative <span>(8)</span></a></li>
                                    <li><a href="#">Educaion <span>(14)</span></a></li>
                                </ul>
                            </div><!-- End sidebar categories-->

                            <h3 class="sidebar-title">Recent Posts</h3>
                            <div class="sidebar-item recent-posts">
                                {% for post in posts %}
                                    <div class="post-item clearfix">
                                        <img src="{{ post.img_primary }}" alt="">
                                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title|truncatewords:4 }}</a>
                                        </h4>
                                        <time datetime="2020-01-01">{{ post.created }}</time>
                                    </div>
                                {% endfor %}

                            </div><!-- End sidebar recent posts-->

                            <h3 class="sidebar-title">Tags</h3>
                            <div class="sidebar-item tags">
                                <ul>
                                    <li><a href="#">App</a></li>
                                    <li><a href="#">IT</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Mac</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Office</a></li>
                                    <li><a href="#">Creative</a></li>
                                    <li><a href="#">Studio</a></li>
                                    <li><a href="#">Smart</a></li>
                                    <li><a href="#">Tips</a></li>
                                    <li><a href="#">Marketing</a></li>
                                </ul>
                            </div><!-- End sidebar tags-->

                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>

            </div>

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="{% static 'img/logo_test.png' %}" class="rounded me-2" alt="..." width="25px">
                        <strong class="me-auto">SmartTech</strong>
                        <small>now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body ">
                        This post successfully added to your favorites.
                    </div>
                </div>
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="{% static 'img/logo_test.png' %}" class="rounded me-2" alt="..." width="25px">
                        <strong class="me-auto">SmartTech</strong>
                        <small>now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        This post successfully removed from your favorites.
                    </div>
                </div>
            </div>

        </section><!-- End Blog Section -->

    </main><!-- End #main -->
{% endblock %}

