{% extends 'base.html' %}
{% load static %}

{% block header-refrences %}
    <link href="{% static 'css/style-account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        <div class="container">

            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <h1>404</h1>
                <h2>The page you are looking for doesn't exist.</h2>
                <a class="btn" href="{% url 'main-page-index' %}">Back to home</a>
            </section>
        </div>
    </main><!-- End #main -->
{% endblock %}